<h1 class="index">¡Bienvenido!</h1>
<h2>Registros</h2>
<div id="registers">
    <ul class="cuadrados">
        <li>
        <a href="r_sales">
            <img src="imgs/salesIcon.png" alt="Ventas">
            <h2>Ventas</h2>
            <p>Registrar venta</p>
        </a>
        </li>
        <li>
        <a href="r_clients">
            <img src="imgs/clientIcon.png" alt="Clientes">
            <h2>Clientes</h2>
            <p>Registrar clientes</p>
        </a>
        </li>
        <li>
        <a href="r_sellers">
            <img src="imgs/sellerIcon.png" alt="Vendedores">
            <h2>Vendedores</h2>
            <p>Registro vendedores</p>
        </a>
        </li>
        <li>
        <a href="r_products">
            <img src="imgs/productsIcon.png" alt="Productos">
            <h2>Productos</h2>
            <p>Registrar productos</p>
        </a>
        </li>
    </ul>
</div>
<h2>Consultas</h2>
<div id="consults">
    <ul class="cuadrados">
        <li>
        <a href="c_sales">
            <img src="imgs/consultIcon.png" alt="ConsultaVentas">
            <h2>Ventas</h2>
            <p>Consultar ventas</p>
        </a>
        </li>
        <li>
        <a href="c_clients">
            <img src="imgs/consultIcon.png" alt="Clientes">
            <h2>Clientes</h2>
            <p>Consultar clientes</p>
        </a>
        </li>
        <li>
            <a href="c_sellers">
                <img src="imgs/consultIcon.png" alt="Vendedores">
                <h2>Vendedores</h2>
                <p>Consultar vendedores</p>
            </a>
        </li>
        <li>
            <a href="c_products">
                <img src="imgs/consultIcon.png" alt="Productos">
                <h2>Productos</h2>
                <p>Consultar productos</p>
            </a>
        </li>
    </ul>
</div>