<h1 class="index">¡Hola!</h1>
<div class="index-container">
    <p class="index">Para acceder al contenido de esta página debes iniciar sesión</p>
    <a href="Identity/Account/Login"><button class="btn btn-primary index-btn">Iniciar Sesión</button></a>
    <p>Si aún no tienes una cuenta, puedes registrarte, pulsa el siguiente botón</p>
    <a href="Identity/Account/Register"><button class="btn btn-outline-primary index-btn">Regístrate</button></a>
</div>
