        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">SalesSystem</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="r_sales">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Ventas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="r_products">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Productos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="r_clients">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Clientes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="r_sellers">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Vendedores
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="c_clients">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Consulta clientes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="c_products">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Consulta productos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="c_sellers">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Consulta vendedores
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="c_sales">
                    <span class="oi oi-chevron-right" aria-hidden="true"></span> Consulta ventas
                </NavLink>
            </div>
        </nav>
    </div>
    </Authorized>

    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
